@import '../../styles/variables.scss';

.Button{
    cursor: pointer;
    padding: 14px 30px;
    color: #FFF;
    background-color: $primaryColor;
    outline: none;
    border: none;
    font-size: $normalSize;
    border-radius: 30px;
    font-weight: $normalFont;
    transition: .2s;
}
.Button:hover{
    background-color: rgb(221, 0, 0);
}