@import '../../styles/variables.scss';

.ProfileStatistics{
    padding: 20px  0;
}
.title{
    color: $primaryFont;
}
.ProfileDataList{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 20px 0;
}