@import '../../styles/variables.scss';

.ProfileStatistics{
    padding: 40px  0;
}
.title{
    font-size: 22px;
    color: $primaryFont;
}
.ProfileDataList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    padding: 20px 0;
}
.deleteButton{
    font-size: 20px;
    width: 40px;
    color: #000;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    transition: .2s;
}
.deleteButton:hover{
    background-color: $primaryColor;
    border: 1px solid #fff;

    color: #fff;
}
.block_header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}