
$mainFont: 'Inter', sans-serif;
$primaryFont: #0D1F33;
$grayFont: #687684;
$primaryColor: #C9252C;
$cardBackground: #FFF;
$background: rgb(241, 246, 250);
$boldFont: 600;
$normalFont: 500;
$titleSize: 24px;
$normalSize: 18px;
$smallSize: 16px;